* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* body {
    background: #1abc9c;    
    display: flex;
    justify-content: center;
    padding: 10px;
} */

body {
    background-image: url(http://137.184.145.124:9003/integrations/UaeEt/bg_image.png);
    background-color: #076776;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 380px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: auto;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-box {
    display: flex;
    gap: 5px;
    font-size: 14px;
    background: #ffffff40;
    padding: 4px 10px;
    border-radius: 20px;
}

.lang-box .active {
    color: #000;
    /* background-color: #fff; */
    font-weight: bold;
}

.divider {
    opacity: .5;
}

/* Title */
.title {
    margin: 15px 0;
}

/* Icon */
.icon-box {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.circle {
    width: 170px;
    height: 173px;
    background-color: #fff;
    color: #0e857a;
    border-radius: 50%;
    border: 10px solid #51b7aa;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle img {
    max-width: 100%;
    scale: 2.5;
    margin: auto -10px auto 0px;
    border-radius: 50%;
}



.download_icon {
    position: absolute;
    max-width: 30px;
    bottom: 10px;
    right: -30px
}

/* Steps */
.steps {
    margin-bottom: 15px;
    text-align: left;
    font-size: 14px;
}

.steps p {

    margin-bottom: 15px;
}

.step-num {
    background: white;
    color: #0e857a;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Input */
.number-input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Button */
.btn {
    width: 100%;
    padding: 14px;
    background: #1d3c54;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #234a65;
}

/* Price */
.price-info {
    font-size: 10px;
    margin: 15px 0;
    opacity: .9;
    color: #a3a3a3;
}

/* Terms */
.terms {
    padding: 15px;
    border-radius: 10px;
    font-size: 10px;
    text-align: left;
    line-height: 1.5;
    color: #a3a3a3;
}

.terms h4 {
    text-align: center;
    margin-bottom: 10px;
}


.pulse {
    animation: pulseAnim 1.8s infinite ease-in-out;
}

@keyframes pulseAnim {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        transform: scale(1.03);
        box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.heartbeat {
    animation: heartbeatAnim 1.4s ease-in-out infinite;
}

@keyframes heartbeatAnim {
    0% {
        transform: scale(1);
    }

    14% {
        transform: scale(1.05);
    }

    28% {
        transform: scale(1);
    }

    42% {
        transform: scale(1.05);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.number-input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #1d3c54;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}
 
 
.field {
    position: relative;
    margin-bottom: 32px;
    -webkit-animation: heartbeat 1.75s ease-in-out infinite both;
    animation: heartbeat 1.75s ease-in-out infinite both;
}

.field-input.focus,
.field-input:focus {
    border-color: #dc2430;
}

.field-input {
    display: block;
    width: 100%;
    height: 64px;
    background: #fff;
    border: transparent;
    border-radius: 8px;
    padding: 0 38px 0 130px;
    direction: ltr;
    color: #404040;
    font-size: 24px;
    letter-spacing: 10px;
    transition: .5s ease;
}

.field-input__prefix {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    color: #404040;
    font-size: 24px;
    line-height: 66px;
    letter-spacing: 2px;
    animation: shake 3s;
    -webkit-animation: shake 3s;
    background-color: #f5f5f5;
    padding-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    height: 58px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;


}

.field-icon {
    position: absolute;
    top: 20px;
    left: 14px;
    fill: #404040;
    pointer-events: none;
    transition: .5s ease;
}

.field-input:focus~.field-label,
.focus~.field-label {
    top: -9px;
    left: 32px;
    background: #fff;
    padding: 2px 8px;
    color: #dc2430;
    font-size: 14px;
}

.cloud {
    width: 100px;
    height: 100px; 
    margin: auto;
    text-align: center;
    position: absolute;
    z-index: 2;
    align-items: center;
    display: none;
}

.cloud .cloud_img {
    max-width: 100%;
    width: 55px;
    margin: auto;
}

.cloud .cloud_arrow {
    position: absolute;
    left: 0;
    right: 0;
    width: 46px;
    margin: auto;
    z-index: 2;
    animation: upDown 1.4s infinite ease-in-out;
}

/* @keyframes pulseArrow {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.15); opacity: 0.85; }
  100% { transform: scale(1); opacity: 1; }
} */

@keyframes upDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}