* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: linear-gradient(180deg, #0e1a23, #071014); */
  background-image: url("./enter_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 420px;
  width: 100%;
  text-align: center;
}

.lang-btn {
  background: #1f2d37;
  color: #fff;
  padding: 6px 20px;
  border-radius: 6px;
  float: right;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.image-box {
  margin: 40px auto;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  animation: upDown 2.5s ease-in-out infinite;
  animation-delay: 0.3s;

}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.image-box img {
  max-width: 200px;
}

.content-title {
  text-transform: uppercase;
  font-size: 28px;
  margin: 0 auto;
  font-weight: 700;
}

.card {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 15px;
  margin-top: 15px;
}

.card p {
  opacity: 0.9;
  font-size: 14px;
  margin-bottom: 15px;
}

.phone-input {
  background: #f1f1f1;
  border: 1px solid #23313b;
  padding: 14px 15px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  color: #fff;
  margin-bottom: 15px;
}

.phone-input:focus {
  outline: none;
  border-color: #29e3ad;
}

.subscribe-btn {
  width: 100%;
  padding: 14px;
  background: #2df3ba;
  color: #000;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  animation: slideIn 0.6s 
ease forwards, btnPulse 2.2s infinite 
ease-in-out;
  animation-delay: 0.6s; 
}



@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px #9aff6435;
  }

  50% {
    transform: scale(1.02);
    box-shadow: 0 0 20px #9aff6475;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 10px #9aff6435;
  }
}

@keyframes btnPulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.footer {
  margin-top: 20px;
  font-size: 11px;
  opacity: 0.7;
}

.footer a {
  color: #fff;
  margin: 0 3px;
}


.pntxt,
.pintxt {
  padding: 0 0 12px;
  margin-bottom: 22px;
  font-size: 19px;
  line-height: 22px;
  border-bottom: 1px solid #4f7073;
}

.input-wrap {
  position: relative;
}

.check-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #2df3ba;
  color: #000;
  padding: 6px 9px;
  border-radius: 50%;
  font-size: 13px;
  display: none;
}

.field {
  position: relative;
  margin-bottom: 32px;
  -webkit-animation: heartbeat 3.75s ease-in-out infinite both;
  animation: heartbeat 3.75s ease-in-out infinite both;
}

.field-input {
  display: block;
  width: 100%;
  height: 64px;
  background: #fff;
  border: 2px solid #f2f2f2;
  border-radius: 8px;
  padding: 0 38px 0 90px;
  direction: ltr;
  color: #404040;
  font-size: 24px;
  letter-spacing: 10px;
  transition: .5s ease;
}

.field-input__prefix {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
  color: #404040;
  font-size: 24px;
  line-height: 66px;
  letter-spacing: 2px;  
  background-color: #f5f5f5;
  padding-right: 15px;
  margin-bottom: 3px;
  margin-left: 3px;
  height: 64px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.field-input:focus {
  border: 0 none;
  outline: 0 none;
}

.field-icon {
  position: absolute;
  top: 20px;
  left: 14px;
  fill: #404040;
  pointer-events: none;
  transition: .5s ease;
}

.field-input:focus~.field-label,
.focus~.field-label {
  top: -9px;
  left: 32px;
  background: #fff;
  padding: 2px 8px;
  color: #dc2430;
  font-size: 14px;
}


.mb-2 {
  margin-bottom: 1rem;
}


@keyframes btnAnimate {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}


.pntxt1, .pintxt1 
 {
    padding: 0 0 10px;
    font-size: 17px;
    line-height: 20px;
    color: #b5b5b5;
}



@keyframes heartbeat {

    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function:
            ease-out;
        animation-timing-function:
            ease-out;
    }

    10% {
        -webkit-transform: scale(.91);
        transform: scale(.91);
        -webkit-animation-timing-function:
            ease-in;
        animation-timing-function:
            ease-in;
    }

    17% {
        -webkit-transform: scale(.98);
        transform: scale(.98);
        -webkit-animation-timing-function:
            ease-out;
        animation-timing-function:
            ease-out;
    }

    33% {
        -webkit-transform: scale(.87);
        transform: scale(.87);
        -webkit-animation-timing-function:
            ease-in;
        animation-timing-function:
            ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function:
            ease-out;
        animation-timing-function:
            ease-out;
    }

}